port: 8082
load_balance_strategy: "consistent-hashing"
health_check_interval_seconds: 5
servers:
  - host: localhost
    port: 8085
    health_path: /health
    app_name: 'app1'
  - host: localhost
    port: 8086
    health_path: /health
    app_name: 'app2'
  - host: localhost
    port: 8087
    health_path: /health
    app_name: 'app3'
sticky_session:
  cookie_name: "example"
  ttl_seconds: 100
tls:
  enabled: true
  cert_file: "/path/on/container/cert.pem"
  key_file: "/path/on/container/key.pem"
routing:
  rules:
    - conditions:
      - path_prefix: "/api/v1"
        method: "GET"
        headers:
          header: "header_value"
      actions:
        route_to: "app2"